@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --active-input-border: linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    --input-errors: hsl(0, 100%, 66%);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
}

/* ========== Left Column Layout Start ========== */
.left-col{
    height: 100vh;
    width: 35vw;
    background: url(images/bg-main-desktop.png) no-repeat;
    background-size: cover;
    position: relative;
}

.card{
    width: 380px;
}

.card-front,
.card-logo,
.default-number,
.card-back,
.default-name,
.default-expiry,
.default-pin{
    position: absolute;
}

.card-front{
    top: 30%;
    right: -100px;
    transform: translateY(-50%);
    z-index: 10;
}

.card-logo{
    left: 30px;
    top: 25px;
    width: 65px;
    z-index: 999;
}
.default-number{
    top: 50%;
    left: 60%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    width: 100%;
    text-align: start;
    color: var(--White);
    letter-spacing: 2px;
}

.card-back{
    bottom: 30%;
    right: -180px;
    transform: translateY(50%);
}

.default-name,
.default-expiry{
    bottom: 30px;
    color: var(--White);
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.default-name{
    left: 37px;
    text-transform: uppercase;
}

.default-expiry{
    right: 35px;
}

.default-pin{
    top: 48.5%;
    right: 45px;
    transform: translateY(-50%);
    font-size: 0.7rem;
    color: var(--White);
    letter-spacing: 2px;
}
/* ========== Left Column Layout Start ========== */

/* ========== Right Column Layout Start ========== */
.right-col{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    flex-direction: column;
}

form,
.completed-state{
    max-width: 320px;
    width: 100%;
}

form div{
    margin-bottom: 1rem;
}

label,
.name-input input,
.number-input input,
input[type=submit]{
    display: block;
    width: 100%;
}

label{
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input{
    position: relative;
    padding: 0.6rem 0.8rem;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--validColor, hsl(270, 3%, 87%));
    outline: none;
}

input::placeholder{
    font-family: 'Space Grotesk', sans-serif;
    color: var(--Dark-grayish-violet);
}

input:focus{
    color: var(--Very-dark-violet);
    padding: 0.6rem 0.8rem;
    border: double 1px transparent;
    border-radius: 6px;
    background-image: var(--validationColor, linear-gradient(white, white), linear-gradient(90deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.date_pin{
    display: flex;
}

.date-input input{
    display: inline-block;
    width: 45%;
}

.error-msg{
    color: var(--input-errors);
    font-size: 0.6rem;
}

input[type=submit],
.completed-state button{
    border: none !important;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    padding: 0.8rem !important;
    cursor: pointer;
}

.completed-state{
    display: none;
    text-align: center;
}

.completed-state img{
    width: 60px;
    margin-bottom: 1.5rem;
}

.completed-state h2{
    color: var(--Very-dark-violet);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.completed-state p{
    color: var(--Dark-grayish-violet);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.completed-state button{
    width: 100%;
    border-radius: 6px;
}

/* ========== Right Column Layout End ========== */


/* ========== Media Queries ========== */
@media screen and (max-width: 850px) {
    .card{
        width: 320px;
    }

    .card-front{
        top: 40%;
        right: -80px;
    }

    .default-number{
        left: 61%;
        font-size: 1.2rem;
    }

    .card-back{
        bottom: 40%;
        right: -150px;
        transform: translateY(50%);
    }
}


@media screen and (max-width: 780px) {
    body{
        flex-direction: column;
    }

    .left-col{
        width: 100vw;
        height: 40vh;
        background: url(images/bg-main-mobile.png) no-repeat;
        background-size: cover;
    }

    .card{
        width: 350px;
    }

    .card-front{
        top: 60%;
        right: 60%;
        transform: translateX(50%);
    }

    .card-back{
        top: 25%;
        right: 40%;
        transform: translateX(50%);
    }

    .default-pin{
        top: 88%;
    }

    .right-col{
        height: 60vh;
        width: 100%;
        padding-left: 0rem;
        padding: 12rem 0;
    }
}


@media screen and (max-width: 460px) {

    .left-col{
        height: 30vh;
    }
    .card{
        width: 280px;
    }

    .card-logo{
        width: 40px;
    }

    .default-number{
        left: 61%;
        font-size: 1rem;
    }

    .default-pin{
        top: 93%;
    }

    .right-col{
        height: 70vh;
    }
}